.results{
    background-color: red;
    margin: auto;
    text-align: center;
    justify-content: flex;
    

}
.text{
    background-color: red;
    margin: auto;
    text-align:center;
    justify-content: flex;
}